<div class='view-details flex'>
  <div class='flex-[1] flex flex-col'>
     <div>{{this.modal.name}}</div>
    <div>{{this.modal.imo}}</div>
    <div>{{this.modal.updated_at}}</div>
    <div>{{this.lng}}</div>
    <div>{{this.lat}}</div>
  </div>
</div>